*,body{
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'AmazDoom';
    src: url('../../../fonts/AmazDooMLeft2.ttf') format('truetype');
}

#character{
    position:absolute;
    top:65vh;
    left:40vw;
}
#infos{
    width:100vw;
    position:absolute;
    top:85vh;
    display: flex;
    flex-direction: row;
}
.infobar{
    position:absolute;
    width: 100vw;
    top:85vh;
}
.containerInfo{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
    color:#ff0000;
    font-weight: bold;
}
.containerInfoBalas{
    width: 10vw;
    height: 10vh;
    margin-left:3%;
}
.containerInfoVida{
    width: 10vw;
    height: 10vh;
    margin-left:8%;
}
.containerInfoAbates{
    width: 10vw;
    height: 10vh;
    margin-left:9%;
}
.infoNumber{
    font-size: 40pt;
}
.infoDescription{
    font-size: 25pt;
    font-weight: bold;
    color:gray;
}
.objetivo{
    position:absolute;
    top:2vh;
    left:2vw;
    color:#ffffff;
    width: 40vw;
    height: 20vh;
}
.objetivo h4{
    font-size: 36pt;
    font-family: 'AmazDoom';
}
.objetivo p{
    font-family: sans-serif;
    margin-top:1%;
}
.objetivo span{
    background-color: #f39c12;
    padding: 1%;
    border-radius: 100px;
}

