body{
    width: 100vw;
    height: 100vh;
    background-image: url('../../../images/demo.gif');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@font-face {
    font-family: 'AmazDoom';
    src: url('../../../fonts/AmazDooMRight.ttf') format('truetype');
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 50vw;
    height: 70vh;
    border-radius: 30px;
}
.mainTitle{
    font-family: 'AmazDoom',sans-serif;
    font-size: 80pt;
    text-align: center;
    color:#aaaaaa;
}
.subtitle{
    font-size: 15pt;
    font-weight: bold;
    color: #bbbbbb;
}

.btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:1%;
    font-size: 24pt;
    border: none;
    width: 10%;
    border-radius: 30px;
    background-color: #e74c3c;
    margin-top:2%;
    color: #ffffff;
    font-weight: bold;
    border: 5px solid #7c261d;
}
.btn:hover{
    background-color: #ab372a;
    color:#cccccc
}
.btn:active{
    background-color: #5d1e17;
    color:#aaaaaa
}